* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('assets-for-about-me/flower-nature.jpg') no-repeat center; 
  background-size: cover;
  font-family:"Courier New";
}

.profile {
  background-color: rgb(255, 255, 77);
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 25px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

.profile-image {
  margin-top: -60px;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.7s ease-in-out;
  filter: grayscale(100%);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 2px; 
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(25%);
}

.icon {
  color: rgb(124, 124, 80);
  transition: all 0.7s ease-in-out;
}

.headline, .contacts {
  color: rgb(15, 15, 10);
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 13px;
}

h4 {
  font-size: 12px;
}

a:hover {
  color: black;
}